<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ChartImageHandler" />
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
	</system.webServer>
	<system.web>
		<globalization requestEncoding="windows-874" responseEncoding="windows-874" culture="th-TH" uiCulture="th-TH" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</controls>
		</pages>
		<authentication mode="Windows" />
		<!-- MAX UPLOAD FILE-->
		<httpRuntime maxRequestLength="2000000" />
		<customErrors mode="Off" />
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
		</httpHandlers>
	</system.web>
	<connectionStrings>
		<add name="dbConn" connectionString="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=ISOC-01-W2K8ENT\omagi_admin;Password=P@ssw0rd;Initial Catalog=omagi_mass_prod;Data Source=127.0.0.1;Integrated Security=SSPI" providerName="System.Data.OleDb" />
	</connectionStrings>
	<appSettings>
		<add key="ChartImageHandler" value="Storage=file;Timeout=20;" />
		<add key="pageSize" value="10" />
		<add key="nodataMsg" value="ไม่พบข้อมูล" />
    <add key="webURL" value="http://164.115.23.195/omagi_mass_prod/"/>
    <add key="frMail" value="softnet@softnet.co.th"/>
    <add key="serverMail" value="203.150.19.110"/>
	</appSettings>
</configuration>
