<?xml version="1.0"?>
<configuration>
  <configSections>
      <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<globalization requestEncoding="windows-874" responseEncoding="windows-874" culture="th-TH" uiCulture="th-TH"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<authentication mode="Windows"/>
		<!-- MAX UPLOAD FILE-->
		<httpRuntime maxRequestLength="2000000"/>
		<customErrors mode="Off"/>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
	</system.web>
	<connectionStrings>

    <!--  <add name="dbConn" connectionString="Provider=SQLOLEDB;Data Source=YUTTHANA-PC;Initial Catalog=omagi_mass_prod;Integrated Security=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbConn" connectionString="Provider=SQLOLEDB; Data Source=YUTTHANASA-PC;Initial Catalog=omagi_mass_prod;Integrated Security=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbConn" connectionString="Provider=SQLOLEDB.1;Persist Security Info=False;User ID=sa;Password=p@ssw0rd;Initial Catalog=omagi_mass_prod;Data Source=192.168.1.201;Integrated Security=SSPI" providerName="System.Data.OleDb"/>-->

    <add name="dbConn" connectionString="Provider=SQLOLEDB;Data Source=192.168.1.201;Initial Catalog=omagi_mass_prod;Persist Security Info=True;User ID=sa;Password=p@ssw0rd" providerName="System.Data.OleDb"/>
  </connectionStrings>
	<appSettings>
		<add key="ChartImageHandler" value="Storage=file;Timeout=20;"/>
		<add key="pageSize" value="10"/>
		<add key="nodataMsg" value="ไม่พบข้อมูล"/>
		<add key="webURL" value="http://164.115.23.195/omagi_mass_prod/"/>
		<add key="frMail" value="softnet@softnet.co.th"/>
		<add key="serverMail" value="203.150.19.110"/>
	</appSettings>

  <log4net>
    <appender name="IntouchLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="F:\กอรมน\log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000000" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] " />
        <footer value="[Footer] " />
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
    
    <appender name="MemoryAppender" type="log4net.Appender.MemoryAppender">simple appender to get results to UI</appender>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] &lt;%property{auth}&gt; - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="MemoryAppender" />
      <appender-ref ref="IntouchLogFileAppender" />
    </root>
    <logger name="log">
      <level value="ALL" />
      <appender-ref ref="IntouchLogFileAppender" />
      <appender-ref ref="MemoryAppender" />
    </logger>
    <logger name="Spring">
      <level value="DEBUG" />
    </logger>
    <logger name="NHibernate">
      <level value="INFO" />
    </logger>
    <logger name="Spring.Transaction">
      <level value="INFO" />
      <appender-ref ref="MemoryAppender" />
    </logger>
    <logger name="Spring.Northwind">
      <level value="INFO" />
      <appender-ref ref="MemoryAppender" />
    </logger>
  </log4net>
</configuration>
